version: '3.9'
services:
    postgres:
        image: postgres:13.3
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: username
            POSTGRES_PASSWORD: postgresql_password
            POSTGRES_DB: database_name
            PGDATA: /var/lib/postgresql/data/dbfiles
        volumes:
            - ./DbData:/var/lib/postgresql/data
    nginx:
        depends_on:
            - api
            - frontend
        restart: always
        build:
            dockerfile: Dockerfile.dev
            context: './nginx'
        ports:
            - "3050:80"
    api:
        build:
            dockerfile: Dockerfile.dev
            context: './Backend'
        volumes:
            - ./Backend:/app
        command: "gunicorn -c gunicorn.py Backend.wsgi"
    frontend:
        stdin_open: true
        build:
            dockerfile: Dockerfile.dev
            context: './Frontend'
        volumes:
            - /app/node_modules
            - ./Frontend:/app